<!DOCTYPE html>
<html>
<head>
	<title>Principais noticias</title>
	<meta charset="utf-8">
	<meta name='description' content='site de noticias'>
	<meta name='keywords' content='site de noticias,noticias de ultima hora'>
	<meta name='author' content='Wilhelm'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" type="text/css" href="/css/signUp.css">
</head>
<body>

<div class="load_container">
	<div class="loader"></div>
</div>

<div class='center'>
	<h2>Cadastre-se</h2>
	<%if(errors.length > 0){%>
		<%for(let i = 0; i < errors.length; i++){%>
			<p style='color:red;'><%= errors[i].msg%></p>
		<%}%>
	<%}%>

	<%if(msg == 'userError'){%>
		<p>Usuario jรก existe</p>
	<%}%>
	<form method='POST'>
		<div>
			<input type="text" id='user' value='<%= dados.usuario%>' class='w100' name="usuario" placeholder="Usuario">
		</div>
		<div>
			<input type="text" id='senha' value='<%= dados.senha%>' class='w100' name="senha" placeholder="Senha">
		</div>
		<div>
			<input type="submit" id='btn_cadastro' name="acao" value='Cadastrar'>
		</div>
	</form>
</div><!-- center -->

<script>
	window.onload = () => {
		const loader = document.querySelector('.load_container')
		loader.className += ' hidden'
	}
</script>
</body>
</html>